@mixin generic-box-shadow($left: 0, $animated: false) {
    &::after {
        content: '';
        position: absolute;
        width: calc(100% + #{$left});
        height: 100%;
        top: 0;
        left: -$left;
        right: 0;
        bottom: 0;
        opacity: .5;
        box-shadow: 0 0 8px black;
        transition: opacity .2s ease-in-out;
        z-index: -1;
    }

    @if $animated == true {
        &:hover::after {
            opacity: 1;
        }
    }
}

@mixin generic-marker($bg-color: $dark-4, $width: 10px) {
    border-left: $width $bg-color solid;
}

@mixin info-card($animated: false) {
    @include generic-box-shadow(10px, $animated);
    @include generic-marker();

    position: relative;
    background-color: $dark-3;
    z-index: 0;
    padding: 1.25rem 10px 1.25rem 10px;
}

@mixin info-card-white-compact {
    @include generic-box-shadow(5px);

    position: relative;
    display: flex;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    color: $dark-2;
    padding: 5px;
    z-index: 0;
}
