@mixin border-hover($radius: 0) {
    &::before {
        @include full-size();
        border-radius: $radius;
        box-shadow: inset 0 0 0 3px white;
        z-index: 2;
    }

    &:hover::before {
        content: '';
    }
}

@mixin full-size() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin generic-badge() {
    font-weight: bold;
    padding: 2px 5px;
    color: $dark-2;
    background-color: white;
    font-size: $font-size-small-1;
    border-radius: 5px;
    text-decoration: none;

    a, a:focus, a:hover {
        color: $dark-2;
    }
}

@mixin generic-box-shadow($left: 0, $animated: false, $radius: 0) {
    &::after {
        content: '';
        position: absolute;
        width: calc(100% + #{$left});
        border-radius: $radius;
        height: 100%;
        top: 0;
        left: -$left;
        right: 0;
        bottom: 0;
        opacity: .5;
        box-shadow: 0 0 8px black;
        transition: opacity .2s ease-in-out;
        z-index: -1;
    }

    @if $animated == true {
        &:hover::after {
            opacity: 1;
        }
    }
}

@mixin generic-marker($bg-color: $dark-4, $width: 10px) {
    border-left: $width $bg-color solid;
}

@mixin info-card($animated: false) {

    @media ($desktop) {
        @include generic-box-shadow(10px, $animated);
        @include generic-marker();
    }

    @media ($mobile) {
        @include generic-box-shadow(0, $animated);
    }

    position: relative;
    background-color: $dark-3;
    z-index: 0;
    padding: 1.25rem 10px 1.25rem 10px;
}

@mixin info-card-white-compact() {
    @include generic-box-shadow(5px);

    position: relative;
    display: flex;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    color: $dark-2;
    padding: 2px 5px 0 5px; // just font things
    z-index: 0;
}

@mixin margin-modifiers {
    &--bottom {
        margin-bottom: 10px;
    }

    &--left {
        margin-left: 10px;
    }

    &--right {
        margin-right: 10px;
    }

    &--top {
        margin-top: 10px;
    }
}

@mixin text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
