$dark-1: #39454f;
$dark-2: #343a40;
$dark-3: #282d33;
$dark-4: #1d2024;
$dark-5: #191b1f;

$dark-lightgray: #99c9f0;
$dark-lightgray-1: #8bcafc;
$dark-gray: #496073;

$gray: #757575;
$lightgray: #e3e3e3;

$blue: dodgerblue;
$lightblue: #00c4ff;

$color-url: #c7e7ff;

/*
* font sizes
*/

$font-size-header-1: 2rem;
$font-size-header-2: 1.75rem;
$font-size-header-3: 1.5rem;
$font-size-header-4: 1.25rem;
$font-size-small-1: .85rem;
$font-size-small-2: .7rem;

/*
* other
*/

$border-radius-card: 10px;

$desktop: 'min-width: 900px';
$mobile: 'max-width: 900px';
