$dark-1: #39454f;
$dark-2: #343a40;
$dark-lightgray: #99c9f0;
$dark-gray: #496073;

$gray: #757575;
$lightgray: #e3e3e3;

html, body {
    height: 100%;
    margin: 0;
    background-image: url('/images/triangles.png');
    background-repeat: fixed;
    font-family: 'Nunito';
}

form {
    margin: 0;
}

textarea {
    background: none;
    border: none;
    color: inherit;
    resize: none;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;

    &::placeholder {
        color: $dark-2;
    }
}

ul {
    margin-bottom: 0;
}

#app {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: none;
}

.app-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 242px);
    justify-content: center;
}

.app-card {
    width: 100%;
    background-color: $dark-1;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $dark-gray;
    }

    &__name {
        font-size: 1.25rem;
    }

    &__info {
        font-size: .75rem;
        color: $dark-lightgray;
    }
}

.badge {
    border-radius: 0.5em;
    color: #fefefe;
    font-size: 100%;
}

.bg-gray {
    background-color: #39454f;
}

.button-invisible {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}

.card-header {
    background-color: #f5f5f5;
}

.card-mapset {
    border-radius: 15px;
}

.card-spotlight {
    border: 4px solid greenyellow;
}

.card-text{
    white-space: pre-wrap;
}

.closed {
    transform: rotate(0deg);
    transition: transform 0.2s ease-out;
}

.col-score {
    min-width: 5%;
}

.comment-card {
    border: 2px solid $dark-gray;
    border-radius: 5px;
    overflow: hidden;

    &--gold {
        border-color: orange;
    }

    &__header {
        padding: 10px;
        background-color: $dark-2;
        color: white;
    }

    &__body {
        padding: 10px;
        background-color: $dark-1;
        color: white;

        &__info {
            color: $dark-lightgray;
            margin-top: 10px;
            font-size: .7rem;
        }
    }
}

.dark-form {
    &__button {
        display: inline-block;
        font-weight: 600;
        border: none;
        background-color: white;
        color: $dark-1 !important;
        padding: 5px 10px;
        border-radius: 20px;
        text-decoration: none !important;

        &:not(:first-of-type) {
            margin-left: 10px;
        }

        &--left {
            margin-left: 10px;
        }

        &--top {
            margin-top: 10px;
        }

        &--top-rem {
            margin-top: 1rem;
        }
    }

    &__el {
        display: block;
        margin-bottom: 10px;

        &--offset {
            margin-left: 110px;
        }
    }

    &__input {
        display: inline-block;
        padding: 5px;
        font-size: .85rem;
        outline: none;
        border: 2px transparent solid;
        background-color: $dark-gray;
        border-radius: 5px;
        color: white;
        margin-right: 5px;

        &:focus {
            border-color: white;
        }

        &--col {
            display: flex;
            width: 100%;
        }

        &--long {
            width: 300px;
        }

        &--short {
            width: 100px;
        }
    }

    &__label {
        display: inline-block;
        text-align: right;
        align-self: center;
        width: 100px;
        margin-right: 5px;
    }

    &__label-simple {
        display: inline-block;
        align-self: center;
    }

    &__select {
        background-color: $dark-2;
        color: white;
        outline: none;
    }
}

.dark-section {
    padding: 1.25rem;
    background-color: $dark-2;
    margin-bottom: 10px;
}

.editable {
    text-decoration: none;

    &::after {
        font-size: .85rem;
        font-family: 'FontAwesome';
        content: ' \f040';
        opacity: 0;
    }

    &:hover {
        text-decoration: none;

        &::after {
            opacity: 100;
        }
    }
}

.expandable {
    cursor: pointer;
    font-size: 1.2rem;

    &:hover, :focus {
        color: $gray;
    }

    &::after {
        font-family: 'FontAwesome';
        content: ' \f078';
    }
}

.form--top {
    margin-top: 10px;
}

.icon-list {
    padding-left: 0.6em;
    font-size: 0.8rem;
}

.info-badge {
    display: inline-flex;
    justify-content: center;
    font-size: .75rem;
    font-weight: 600;
    color: $dark-1;
    background-color: white;
    padding: 2px 10px;
    border-radius: 50px;
    text-transform: uppercase;
}

.list-small-distance {
    line-height: 0.5em;
}

.mapset-card {
    display: flex;
    justify-content: center;

    &__badge {
        background-color: $dark-2;
        color: $lightgray;
        padding: 5px 8px;
        border-radius: 10px;
        font-size: .85rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &--info {
            max-width: 220px;
        }

        &--metadata {
            width: 363px;
            text-align: center;
        }

        &--score {
            font-weight: 600;
            width: 40px;
            text-align: center;
            margin-right: 8px;
            user-select: none;
        }
    }

    &__border {
        border: 4px solid $dark-2;
    }

    &__card {
        border-radius: 15px;
        width: 100%;
        height: 125px;
        padding: 15px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        text-decoration: none;
        color: $lightgray;

        &:hover {
            color: white;
        }
    }

    &__metadata {
        display: flex;
    }
}

.margin-img {
    margin-right: 5px;
}

.medium-font {
    font-size: 0.85rem;
}

.modal {
    &__backdrop{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0,0,0,.6);
    }

    &__card {
        position: fixed;
        width: 40rem;
        background-color: $dark-1;
        box-shadow: 0 2px 8px black;
        top: 8vh;
        left: calc((100% - 40rem) / 2);
        border-radius: 10px;
        color: white;
        overflow: hidden;
        max-height: calc(100% - 16vh);
    }

    &__content {
        padding: 1.25rem;
        height: auto;
        max-height: 75vh;
        overflow-y: auto;
    }

    &__header {
        padding: 10px 20px;
        background-color: $dark-gray;
        display: flex;
        justify-content: space-between;

        &__close {
            cursor: pointer;
        }

        &__title {
            font-size: 2rem;
        }
    }
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;

    &__el {
        padding: 2px 5px;
        cursor: pointer;

        &:not(:first-of-type) {
            margin-left: 10px;
        }

        &--current {
            font-weight: 600;
            border-radius: 5px;
            background-color: white;
            color: $dark-1;
        }
    }
}

.open {
    transform: rotate(90deg);
    transition: transform 0.2s ease-out;
}

.scrollable{
    height: 385px;
    overflow-y: auto;
    padding-right: 10px;
}

.section-badge {
    display: inline-block;
    padding: .25em .4em;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background: $dark-2;
}

.sections-header {
    display: inline-block;
    font-size: .85rem;

    &__arrow {
        margin: 8px;
        font-family: 'FontAwesome';

        &::before {
            content: '\f105';
        }
    }

    &__el {
        text-transform: lowercase;
    }
}

.small-font {
    font-size: 0.6rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotlights-listing {
    &__card {
        border-radius: 10px;
        border: 2px solid #757575;
        padding: 9px;
        margin-bottom: 10px;

        &--dark {
            border: 1px solid white;
        }
    }

    &__header {
        position: absolute;
        left: 44px;
        font-size: 1.5rem;
        text-decoration: none !important;
        color: white;
        transition: transform .1s ease-in-out;
        will-change: transform;

        &::before {
            content: '';
            position: absolute;
            top: 9px;
            left: -10px;
            width: 4px;
            height: 50%;
            border-radius: 10px;
            background-color: greenyellow;
        }

        &:hover {
            color: white;
            transform: translateX(5px);
        }
    }
}

.td-align {
    vertical-align: inherit !important;
}

.textarea-border {
    background-color: $dark-gray;
    border-radius: 5px;
    padding: 1em;

    border: 2px solid transparent;

    textarea:focus {
        border-color: white;
    }
}

.text {
    &-gray, &-gray:focus, &-gray:hover {
        color: $dark-gray;
    }

    &-green, &-green:focus, &-green:hover {
        color: greenyellow;
    }

    &-lightgray, &-lightgray:focus, &-lightgray:hover {
        color: $dark-lightgray;
    }

    &-red, &-red:focus, &-red:hover {
        color: #f53e1d;
    }
}

.title-section {
    &__header {
        font-size: 2rem;

        &--marker {
            position: relative;
            left: 12px;

            &::before {
                position: absolute;
                left: -12px;
                top: 15px;
                content: '';
                width: 4px;
                height: 40%;
                border-radius: 10px;
                background-color: greenyellow;
            }

            &--red::before {
                background-color: red;
            }
        }
    }

    &__info {
        display: inline-flex;
        justify-content: center;
        font-size: .75rem;
        font-weight: 600;
        color: $dark-1;
        background-color: white;
        padding: 2px 10px;
        border-radius: 50px;
        text-transform: uppercase;
        margin-top: 9px;
    }

    &__previous {
        position: absolute;
        //top: 60px;
        text-decoration: none !important;
        color: white;
        font-size: .85rem;
        transition: transform .1s ease-in-out;
        will-change: transform;

        &::before {
            font-family: 'FontAwesome';
            margin-right: 10px;
            content: '\f104';
        }

        &:hover {
            color: white;
            transform: translateX(-5px);
        }
    }
}

.user-profile {
    &__avatar {
        display: flex;
        object-fit: contain;
        align-self: flex-start;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 5px;

        &--border {
            border: 3px solid;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    &__username-section {
        line-height: 5px;
    }
}
