html, body {
    height: 100%;
    margin: 0;
}
.textarea-border {
    background-color: #f5f5f5;
    border: 1px solid #5bc0de;
    border-radius: 1em;
    padding: 1em;
    background-image: url('/images/triangles.png');
    background-repeat: fixed;
}

textarea {
    background: none;
    border: none;
    color: inherit;
    resize: none;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
}

.card-header {
    background-color: #f5f5f5;
}

.scrollable{
    height: 385px;
    overflow-y: auto;
    padding-right: 10px;
}

.card-text{
    white-space: pre-wrap;
}

.bg-gray {
    background-color: #39454f;
}

.margin-img {
    margin-right: 5px;
}

.medium-font {
    font-size: 0.85rem;
}

.small-font {
    font-size: 0.6rem;
}

.list-small-distance {
    line-height: 0.5em;
}

.open {
    transform: rotate(90deg);
    transition: transform 0.2s ease-out;
}

.closed {
    transform: rotate(0deg);
    transition: transform 0.2s ease-out;
}

.icon-list {
    padding-left: 0.6em;
    font-size: 0.8rem;
}

.text-gray {
    color: #757575;
}

.td-align {
    vertical-align: inherit !important;
}

form {
    margin: 0;
}

#app {
flex: 1 0 auto;
}

#footer {
flex-shrink: none;
}