.app-card {
    width: 100%;
    background-color: $dark-1;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $dark-gray;
    }

    &__name {
        font-size: 1.25rem;
    }

    &__info {
        font-size: .75rem;
        color: $dark-lightgray;
    }
}
