.app-card {
    @include generic-box-shadow(10px, true);
    @include generic-marker();

    width: 100%;
    background-color: $dark-3;
    padding: 10px;
    transition: background-color .1s ease-in;
    position: relative;
    z-index: 0;
    cursor: pointer;

    &:hover {
        background-color: $dark-2;
    }

    &--fail {
        @include generic-marker(chocolate);
    }

    &--pass {
        @include generic-marker(green);
    }

    &__name {
        font-size: 1.25rem;
    }

    &__info {
        font-size: .75rem;
        color: $dark-lightgray;
    }
}
