.dark-form {
    &__button {
        display: inline-block;
        font-weight: 600;
        border: none;
        background-color: white;
        color: $dark-1 !important;
        padding: 5px 10px;
        border-radius: 20px;
        text-decoration: none !important;

        &:not(:first-of-type) {
            margin-left: 10px;
        }

        &--radius-square {
            border-radius: 5px;
        }

        &--small {
            font-size: $font-size-small-1;
        }

        &--tiny {
            font-size: $font-size-small-1;
            padding: 2px 5px;
        }

        &--top-rem {
            margin-top: 1rem;
        }

        @include margin-modifiers();
    }

    &__el {
        display: block;
        margin-bottom: 10px;

        &--offset {
            margin-left: 110px;
        }
    }

    &__input {
        display: inline-block;
        padding: 5px;
        font-size: .85rem;
        outline: none;
        border: 2px transparent solid;
        background-color: $dark-gray;
        border-radius: 5px;
        color: white;

        &::placeholder {
            color: $dark-3;
        }

        &:focus {
            border-color: white;
        }

        &--col {
            display: flex;
            width: 100%;
        }

        &--long {
            width: 300px;
        }

        &--short {
            width: 100px;
        }

        &--small {
            padding: 2px;
        }

        @include margin-modifiers();
    }

    &__label {
        display: inline-block;
        text-align: right;
        align-self: center;
        width: 100px;
        margin-right: 5px;
    }

    &__label-simple {
        display: inline-block;
        align-self: center;
    }

    &__select {
        background-color: $dark-2;
        color: white;
        outline: none;

        @include margin-modifiers();
    }

    &__textarea {
        margin: 0;
        padding: 5px;
        font-size: .85rem;
        border-radius: 5px;
        background-color: $dark-gray;
        border: 2px transparent solid;
        margin-bottom: 10px;

        &:focus {
            border-color: white;
        }

        &--resize {
            resize: vertical;
        }
    }
}
