.header-v2 {
    @include generic-box-shadow();

    position: relative;
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 3px $blue solid;
    z-index: 0;

    &--green {
        border-bottom: 3px greenyellow solid;
    }

    &--red {
        border-bottom: 3px red solid;
    }

    &__description {
        margin-top: -5px;
        font-size: $font-size-small-1;
        color: $dark-2;
        font-weight: bold;
    }

    &__title {
        font-size: $font-size-header-1;
        font-weight: bold;
        color: $dark-3;
    }
}
