.header-v2 {
    display: flex;
    align-items: center;

    &__description {
        margin-top: -5px;
        font-size: $font-size-small-1;
        color: $lightblue;
    }

    &__icon {
        transform: rotate(-45deg);
    }

    &__icon-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 2px $lightblue solid;
        width: 35px;
        height: 35px;
        transform: rotate(45deg);
        padding: 10px;
        margin-left: 8px;
    }

    &__title {
        display: inline-flex;
        font-size: $font-size-header-2;
    }

    &__title-container {
        margin-left: 19px;
        display: inline-flex;
        flex-direction: column;
    }
}
