.info-panel {
    @include info-card();
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: 10px;
    }

    &__description {
        margin-top: -3px;
        margin-bottom: 5px;
    }

    &__header {
        font-size: 1.25rem;
        color: $dark-lightgray-1;
        margin-bottom: 5px;
    }
}
