.navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: $dark-lightgray;

    &__el {
        padding: 2px 5px;
        cursor: pointer;

        &:hover {
            color: $dark-lightgray-1;
        }

        &:not(:first-of-type) {
            margin-left: 10px;
        }

        &--current {
            font-weight: 600;
            border-radius: 5px;
            background-color: $dark-lightgray-1;
            color: $dark-1;
        }
    }
}
