.nomination-voting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__el {
        display: flex;
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
    }

    &__options {
        display: flex;
        align-items: center;
    }
}
