.nomination-statistics {
    display: grid;
    gap: 10px;

    &__el {
        @include generic-box-shadow(after, calc(100% + 5px), 100%, -5px);

        position: relative;
        display: flex;
        font-size: .85rem;
        text-transform: uppercase;
        font-weight: bold;
        background-color: white;
        color: $dark-2;
        padding: 5px;
        margin-left: 5px;
        z-index: 0;

        &--contributors {
            @include generic-marker(before, $dark-4, 5px);
        }

        &--criticizers {
            @include generic-marker(before, red, 5px);
            color: red;
        }

        &--neutrals {
            @include generic-marker(before, dodgerblue, 5px);
            color: dodgerblue;
        }

        &--supporters {
            @include generic-marker(before, green, 5px);
            color: green;
        }
    }
}
