.nomination-statistics {
    display: grid;
    gap: 10px;

    &__el {
        @include info-card-white-compact();

        &--contributors {
            @include generic-marker($dark-4, 5px);
        }

        &--criticizers {
            @include generic-marker(red, 5px);
            color: red;
        }

        &--neutrals {
            @include generic-marker(dodgerblue, 5px);
            color: dodgerblue;
        }

        &--supporters {
            @include generic-marker(green, 5px);
            color: green;
        }
    }
}
