.spotlights-panel {
    @include generic-box-shadow(5px, true);
    @include generic-marker($blue, 5px);

    position: relative;
    background-color: $dark-3;
    color: white;
    z-index: 0;
    padding: 10px 10px 10px 5px;
    text-decoration: none !important;
    transition: .1s ease-in;
    cursor: pointer;

    &:hover {
        padding-left: 10px;
        background-color: $dark-2;
    }

    &--green {
        @include generic-marker(green, 5px)
    }

    &--red {
        @include generic-marker(red, 5px)
    }

    &__container {
        margin-top: -5px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__description {
        font-size: $font-size-small-1;
        color: $dark-lightgray-1;
        margin-bottom: -3px;
    }

    &__info-container {
        display: inline-flex;
    }

    &__info {
        @include info-card-white-compact();
        background-color: white;
        margin-left: 10px;

        &--created, &--released {
            @include generic-marker(green, 5px);
            color: green;
        }

        &--deadline {
            @include generic-marker(chocolate, 5px);
            color: chocolate;
        }

        &--threshold {
            @include generic-marker($blue, 5px);
            color: $blue;
        }
    }

    &__header {
        font-size: $font-size-header-4;
        font-weight: 600;
    }
}
