.user-profile {
    &__avatar {
        display: flex;
        object-fit: contain;
        align-self: flex-start;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 5px;

        &--border {
            border: 3px solid;
        }
    }

    &__info {
        @include info-card-white-compact();

        &--join {
            @include generic-marker($blue, 5px);
            color: $blue;
        }

        &--osu {
            @include generic-marker(deeppink, 5px);
            color: deeppink;
            text-decoration: none;

            a, a:hover {
                color: deeppink;
            }
        }
    }

    &__info-container {
        display: inline-grid;
        gap: 10px;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__username-section {
        line-height: 5px;
    }
}
